{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}

<section class="home">
    <div class="home-content">
        <h1>Важенин Тимофей</h1>
        <h3><span id="element"></span></h3>
    </div>
</section>

<section class="contacts">
    <div id="contacts" class="contactsinfo">
        <h3>Контактная информация</h3>
        <div class="contact-link">
            <div class="contacts-content">
                <p><i class='bx bxs-phone'>&nbspМобильный номер телефона:&nbsp</i><a href="tel:8(905)472-33-96">8-905-472-33-96</a></p>
                <p><i class='bx bxl-gmail'>&nbspЭлектронная почта:&nbsp</i><a href="mailto:vazhenin.t@gmail.com">vazhenin.t@gmail.com
                    <i class='bx bx-link-external'></i></a>
                </p>
                <p>Ссылки для связи: </p>
            </div>
            <div class="home-link">
                <a href="https://t.me/i_ytochka" target="_blank" ><i class='bx bxl-telegram'></i></a>
                <a href="https://github.com/TimofeyV" target="_blank" ><i class='bx bxl-github'></i></a>
                <a href="https://krasnodar.hh.ru/resume/797e726aff0bf67f050039ed1f343067763342"><i class='bx bx-link' target="_blank" ></i></a>
            </div>
        </div>
    </div>
</section>

<footer class= "footer">
    <div class = 'footer-text'>
        <p>Copyright &copy; 2023 by Vazhenin Timofey | All Rights Reserved</p>
    </div>
    <div class='icon'>
        <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
    </div>
</footer>

<!-- custom js-->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<!-- typed js-->
<script src="static/js/script.js"></script>
{% endblock %}