form{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 150px 0;
}

input[type=file] {
    border: none;
    font-size: 18px;
    margin-top: 20px;
}

input[type=file] a{
    border: none;
    width: 200px;
}

input[type=submit] {
    margin: 20px 0 20px 0;
    width: 200px;
    height: 50px;    
    border: none;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
    background: linear-gradient(60deg, #a32786 30%, #07fade);
    color: #e1e5e8;
    cursor:pointer;
}

input[type=submit]::after{
    background-color: #0c1529;
}

form a{
    font-weight: 500;
    background: linear-gradient(45deg, #a32786 30%, #07fade 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}