{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <title>Важенин Тимофей{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}" >
    <link rel="stylesheet" href="{% static 'css/index.css'%}" >    
    {% block link %}{% endblock %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'img/log.png'%}">
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'img/log.png'%}">
    <link type="image/png" sizes="32x32" rel="icon" href="{% static 'img/log.png'%}">
    <link type="image/png" sizes="48x48" rel="icon" href="{% static 'img/log.png'%}">
    <link type="image/png" sizes="96x96" rel="icon" href="{% static 'img/log.png'%}">
    <link type="image/png" sizes="120x120" rel="icon" href="{% static 'img/log.png'%}">
</head>
<body>
    <header class="header">

      <a href="/" class = "logo">Портфолио</a>
      <i class='bx bx-menu' id="menu-icon"></i>
      <nav class="navbar">
        {%for element in menu%}
            <a href="{% url element.url %}">{{element.name}}</a>    
        {%endfor%}
      </nav>

    </header>
{% block content %}

{% endblock %}
<footer class= "footer">
  <div class = 'footer-text'>
      <p>Copyright &copy; 2023 by Vazhenin Timofey | All Rights Reserved</p>
  </div>
  <div class='icon'>
      <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
  </div>
</footer>
</body>
</html>